[includeIf "gitdir:~/code/personal/dotfiles/"]
  	path = ~/.gitconfig-personal
[includeIf "gitdir:~/code/professional/"]
  	path = ~/.gitconfig-professional
[pull]
  rebase = true
[branch]
  autosetuprebase = always
[alias]
  rh = reset --hard HEAD
  b = checkout -b
  co = checkout
  ca = commit -a --verbose
  cp = cherry-pick
  st = status
  amend = commit --amend --no-edit
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  unstage = reset --soft HEAD
  cdiff = "!git diff $1 $1^"
[push]
  default = current
[core]
  editor = code --wait
	excludesfile = /Users/ruben.nogueira/.gitignore_global
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[init]
	defaultBranch = main
